extends layout

block content
    div(class="hero-unit")
        h1 Getable API
        p version 0.5
        p Product currently in BETA and documentation is under development.
        <a class="btn btn-large btn-success" href="/doc">Documentation</a>
        <a class="btn btn-large btn-primary" href="#">Sign up today</a>
